<div class="row ml-3">
    <div class="col-md-3">
        <p class="h3 mt-3 mb-4">コメント</p>
    </div>
</div>

<%= form_with(model: [@post, @comment], method: :patch ) do |f| %>

    
    <%= f.text_area :body, placeholder: "コメントする", class: "form" %>

    <%= f.hidden_field :post_id, value: @post.id %>
    <div class="row">
        <div class="col-sm-3 ml-5 text-right">
            <%= f.submit "更新", class: "comment-btn"%>
        </div>    
    </div>
<% end %>