<%# プロフィール画像　%>
<%= image_tag @user.image, size: '100x100', class: "rounded-circle" %>

<p class="mb-0">名前</p>
<%= @user.name %>
<p class="mb-0">メールアドレス</p>
<%= @user.email %>

<h3 class="pt-3 pb-3">投稿したポートフォリオ一覧</h2>
<% if @user.posts.any? %>
    <%= render @posts %>
<% end %>