<div class="alert p-0">
    <% if object.errors.any? %>
        <% object.errors.full_messages.each do |message| %>
            <div class="alert-danger">
                ・<%= message %>
            </div>
        <% end %>
    <% end %>
</div>