/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
@import "bootstrap";
@import "font-awesome";

.bg-thin-blue{
    background-color: #f4fdfd;
}

a {
    font-size: 1.3em;
}

a:hover{
    color: #13B1C0;
}

.navbar-brand{
    font-size: 1.8em;
    
}

strong {
    color: #13B1C0;
}

.bg-light-blue{
    background-color: #13B1C0;
}

.nav-link{
    color: #13B1C0;
}

/*　ページネーション自体のスタイル　*/
.pagination>li>a {
    border: none;
    color: #13B1C0; 
}

/*　表示しているページのデザイン　*/
.pagination>.active>a {
    background-color: #93c9ff;
    border-radius: 20px;
}

/*　ホバー時のデザイン */
.pagination>li>a:hover{
    border-radius: 20px;
}
/* ページネーションの中央寄せ　*/
.pagination {
    justify-content: center;
  }