<footer class="container-fluid">
    <div class="row mt-4">
        <div class="col-sm-2 text-center offset-5">
            <span>Ss&nbsp;2021</span>
        </div>
        <div class="col-sm-2 align-self-center offset-3">
            <%= link_to 'お問い合わせ', contacts_new_path, class: "contact"%>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
        <span>Yuki&nbsp;Okui</span>
        </div>
    </div>
</footer>
<%#
<p class="mb-3">2021&nbsp;Ss</p>
    <p>Yuki&nbsp;Okui</p>
    <div>
    <p>お問い合わせはこちら</p>
    </div>
=%>
